<center>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <div>
      <input type="email" name="email" placeholder="email" required />
    </div>
    <br />
    <div>
      <input type="password" name="password" placeholder="password" required />
    </div>
    <br />
    <div>
      <input type="submit" name="submit" />
    </div>
  </form>
  <div>
    <div>Email: <p>nygowugek@mailinator.com</p></div>
    <div>Password: <p>Pa$$w0rd!</p></div>
  </div>
  <a href="/signup">Signup</a>
</center>
